<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Moussa Diakite</h1>
      <p class="hero-subtitle">
        Étudiant en développement web, à la recherche d'une alternance à partir
        de septembre 2025 dans le cadre de ma formation en développement
        full-stack.
      </p>
      <div class="hero-contacts">
        @for (contact of contactLink; track contact.label) {
        <a class="contact-link" [href]="contact.url" target="_blank">
          <fa-icon [icon]="contact.icon"></fa-icon>
          {{ contact.label }}
        </a>
        }
      </div>
    </div>
  </div>
</section>
